@viewport{
  width: device-width;
  zoom: 1.0;
}

html * {
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  max-width: 1000px !important;
  --pane-padding: 0;
  --footer-height: 30px;
  background-color: snow;
  font-family: monospace !important;
  font-size: 1.2rem !important;
}

img, h1, h2{
  font-size: 1.3rem;
  vertical-align: middle;
  display: inline;
  color: #e06011;
  margin: 0px;
 }

::selection {
  background: #e06011;
  color: #e6e6fa;
}

nav.a {
  display: inline-block;
  padding: 0 0;
  margin: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

nav.a + nav.a:before {
  margin: 0 0.25rem;
  content: "/\00a0";
}

/*--nav.breadcrumb [aria-current="page"] {color: #e6e6fa;}--*/

table > tbody > tr > td {
  border-collapse: collapse;
  display: inline;
  flex-direction: row;
  flex-wrap: nowrap;
}

table > tbody > tr > td > span {
  font-size: 1.1rem;
}

table > thead > tr > td {
  height: 10%; 
}

#content table td {
  vertical-align: top;
  white-space: nowrap;
}


#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
  background-color: #eee;
}

/*---links--*/
a:link {
    color:#716c83;
    text-decoration: underline;
    cursor: auto;
}

a:visited {
    color:#5751ab;
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active {
    color:#e06011;
}

a:hover {
    /*--font-weight:bold;--*/
    text-decoration:underline;
    color: #e06011;
}

a:active {
    background-color: lightpurple;
}

/*---separators---*/
hr {
    border: 0;
    border-top: 1px solid #e06011;
    height: 1px;
}








