
  /*font-family: 'Lora', serif;
  font-family: 'Quattrocento Sans', sans-serif;
  font-family: 'Bodoni Moda', serif;*/

.font1 {font-family: 'Bodoni Moda', serif}
.font2 {font-family: 'Lora', serif}
.font3 {font-family: 'Quattrocento Sans', sans-serif}

.body {
  background-color: #181818;
}

.text-body {
  padding: 2rem 2rem;
}

@media screen and (min-width: 1024px) {
  /* Apply styles when the screen width is equal to or greater than 1024px (laptop screen or more) */
  .text {
      width: 70%;
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: #d9d9d0;
}

hr {
  border-color: rgba(57, 57, 57, 0.501);
}

.logo {
  width: 10rem;
  height: 10rem;
}

header {
  background-image: url(whiteshadows.JPG);
  height: 80vh;
  background-size: cover;
}

#lysts {
  padding: 1.5rem 2rem;
  color: #d9d9d0;
  letter-spacing: 0.5rem;
}

.homepage-nav {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 2rem;
}

a:link {
  color: #d9d9d0;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

a:active {
  color: rgb(201, 100, 32);
}

a:visited {
  color: #d9d9d0;

}
a:hover {
  color: #2a6c58;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

}

.footer p {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: rgb(182, 182, 182)
}

.footer-nav {
  display: flex;
  gap: 1rem;
}

/* roadmap, sourced from https://codepen.io/z-/pen/bwPBjY and https://www.sliderrevolution.com/resources/bootstrap-timeline/ */
.roadmap-body {
background-color: #1D1D1D;
min-height: 100%;
width: 100%;
margin: 2rem 0;
position: relative;
left: -5px;
display: inline-flex;
}

.vline {
content: '';
position: relative; /* Change from fixed to absolute */
top: 0px;
left: 50%;
bottom: 0px;
transform: translateX(-50%);
width: 4px;
background-color: #fff;
color: lightgray;
}

.r-entries {
width:calc(100% - 80px);
max-width:800px;
margin:auto;
position: relative;
left:-5px;
.r-entry {
  width:calc(50% - 80px);
  float:left; 
  padding:20px;
  clear:both;
  text-align:right;
  &:not(:first-child) {
    margin-top:-60px;
  }
  .r-title {
    font-size:32px;
    margin-bottom:12px;
    position: relative;
    color:#fff;
    &:before {
      content: '';
      position: absolute;
      width:8px;
      height:8px;
      border:4px solid #ffffff;
      background-color:#1D1D1D;
      border-radius:100%;
      top:50%;
      transform:translateY(-50%);
      right:-73px;
      z-index:1000;
    }
    &.big:before {
      width:24px;
      height:24px;
      transform:translate(8px,-50%);
    }
  }
  .r-body {
    color:#aaa;
    p {
      line-height:1.4em;
    }
  }
  &:nth-child(2n) {
    text-align:left;
    float:right;
    .r-title {
      &:before {
        left:-63px;
      }
      &.big:before {
        transform:translate(-8px,-50%);
      }
    }
  }
}
}