@viewport{
    width: device-width;
    zoom: 1.0;
}
:root {
    background-color: snow;
    font-family: "Lucida Console", "Courier New", monospace;
    --pane-padding: 0px;
    text-align: left;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    max-width: 1000px;
    --footer-height: 30px;
    line-height: 2;
}

    /*---links--*/
    a:link {
        color:#716c83;
        text-decoration: underline;
        cursor: auto;
    }

    a:visited {
        color:#5751ab;
        text-decoration: underline;
        cursor: auto;
    }

    a:link:active, a:visited:active {
        color:#E06011;
    }

    a:hover {
        /*--font-weight:bold;--*/
        text-decoration:underline;
        color: #E06011;
    }

header.header-content-inner h1 {
        font-size: 15px;
        color: #E06011;
        text-align: left;
}

header.header-content-inner img {
 float: left;
}

/*---breadcrumb nav---*/

nav.breadcrumb {
    padding: 0 0;
}

nav.breadcrumb ul {
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.breadcrumb li {
    display: inline;
}
    
nav.breadcrumb li + li:before {
    margin: 0 0.25rem;
    content: "/\00a0";
}

nav.breadcrumb [aria-current="page"] {
    color: #e6e6fa;
}

/*---separators---*/
hr {
    border: 0;
    border-top: 1px solid #E06011;
    height: 1px;
}

::selection {
    background: #E06011;
    color: #e6e6fa;
}

h1 {
    font-size: 15px;
    color: #E06011;
    text-align: left;
}

body {
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    line-height: 1.2; 
}

body.li {
    list-style-type: circle;
}



