@viewport{
    width: device-width;
    zoom: 1.0;
}
:root {
    background-color: snow;
    font-family: "Lucida Console", "Courier New", monospace;
    --pane-padding: 0px;
    text-align: left;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    max-width: 1000px;
}

/*---breadcrumb nav---*/
.breadcrumb {
    padding: 0 .5rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "/";
}

hr {
    border: 0;
    border-top: 1px solid #E06011;
    height: 1px;
}

li {
    list-style-type: circle;
}

::selection {
    background: #E06011;
    color: #e6e6fa;
}

body {
    font-size: 12px;
}

h1 {
    font-size: 1.5em;
    color: #E06011;
    text-align: left;
}

