@viewport{
    width: device-width;
    zoom: 1.0;
}
:root {
    background-color: snow;
    font-family: "Lucida Console", "Courier New", monospace;
    --pane-padding: 0px;
    text-align: left;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 100px;
    max-width: 1000px;
}

hr {
    border: 0;
    border-top: 1px solid #E06011;
    height: 1px;
}

li {
    list-style-type: circle;
}

::selection {
    background: #E06011
    color: #8787ff;
}

body {
    background-color: snow;
    font-size: 12px;
    text-align: left;
    margin: 10px
}

h1 {
    font-size: 1em;
    color: #E06011;
    text-align: left;
}

