<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title><!--site name by default-->
        <meta charset="utf-8" />
        <link rel="stylesheets" type="text/css" ref="{{ SITEURL }}/theme/style.css" />
        <meta http-equiv="x-ua-compatible" content="ie=edge"; charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/lysts.png"/> 
        {% endblock head %}
</head>

<body id="index" class="home">
    <table id="header">
        <tbody>
            <tr>
                <td><img src="/theme/lysts.png" width="30" height="30" /></td>
                <td><h1 align="left"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1></td>
                <td><p title="take a look around!">welcome to my humble abode.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <nav id="menu">
        
                    {% for title, link in MENUITEMS %}
                        <a href="{{ link }}">{{ title }}</a> 
                    {% endfor %}
                    {% for title, link in MENUXTRA %}
                        <a href="{{ link }}" align = "right">{{ title }}</a>
                    {% endfor %}
                    </nav>
                </td>
            </tr>
        </tbody>
    </table>
        
            {#% if DISPLAY_PAGES_ON_MENU %}{% for p in pages %} <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li> {% endfor %}{% endif %}
           
            {% if DISPLAY_CATEGORIES_ON_MENU %}{% for cat, null in categories
            %} <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li> {% endfor %}{% endif %#}
       
        <hr/> 
        {% block content %}
        {% endblock %}
        <footer id="contentinfo" class="body">
            <hr/>
            yours truly, lysts
        </footer><!-- /#contentinfo -->
</body>
</html>
