<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/style.css" />
        <meta http-equiv="x-ua-compatible" content="ie=edge"; charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/lysts.png" />  
        {% endblock head %}
</head>

<body><!--header--> 
            <!--animated welcome sign, button code LycanOne-->
        <div class="button">
          <span class="line-1"></span>
          <span class="line-2"></span>
          <span class="line-3"></span>
          <span class="line-4"></span>
          <span class="line-5"></span>
          <span class="line-6"></span>
          <p title="take a look around!">welcome, friend.</p>
        </div>
<table><thead><tr><td a href="https://lysts.xyz/"/><img src="/theme/lysts.png" width="30" height="30"/>
                <td><h1 style="padding-left: 5px;"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1></td>
                <td><p style="font-size: 1.1em; padding: 0 0.4em;">/<a style="padding-left: 0.4em;" href="{{ SITEURL }}">posts</a></p></td></tr></thead></table>
<table><tbody>
        <tr><td style="padding: 1em 0;">blog, fueled by one too many chai lattes.<br>for play and life-long learning.</td></tr>

    <tr><td style="display: inline-flex;">
    <!--nav bar-->
    {% for title, link in MENUITEMS %}
    <nav id="menu" style="padding: 0 1em 0 0;"><a href="{{ link }}">{{ title }}</a></nav>{% endfor %}
    {% for title, link in MENUXTRA %}<nav id="menu"><a href="{{ link }}">{{ title }}</a></nav>{% endfor %}
            </td></tr></tbody>
    </table>
        
            {#% if DISPLAY_PAGES_ON_MENU %}{% for p in pages %} <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li> {% endfor %}{% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}{% for cat, null in categories
            %} <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li> {% endfor %}{% endif %#}
       
<hr>

    {% block content %}{% endblock %}<!--post list-->

<footer><hr><p>© 2023 L, yours truly {{ SITEURL }}</p></footer>

</body>
</html>
