{% extends "base.html" %}
{% block content %}

<h2>favourites of all time</h2>
<hr />
<h3>films.</h3>
<ol>
    <li>
        <h4>Pig</h4>
        <p>Poetic, quiet in dialogue but beautifully shot and emotionally gripping. Watch as Nicholas Cage desperately tries to reunite with his truffle pig.
        </p>
        <ol start="4">
            <li><a href="https://www.imdb.com/title/tt0468569/" target="">find review here</a>
            <li>date watched: summer 2022</li>
        </ol>
    </li>
    <li>
        <h4>12 Angry Men</h4>
        <p>90% of the film set in one room, this is a black & white film that truly captures the dangers of human bias, discrimmination, and lack of critical thinking and evidence in condemning a suspect of crime. Sit back and watch as one man questions 11 men and their biases that stand zero grounding.</p>
    </li>
    <li>
        <h4>Women Talking</h4>
        <p>As an AFAB human, this silent yet powerful film is yet again, another film that is set in a barn where women and children of a small community in the US open up about the atrocities that mysoginistic men have imposed on their lifestyle. They are left with some time and space to decide whether or not to part with their home for freedom.</p>
    </li>
</ol>

{% endblock content %}

