{% extends "base.html" %}
{% block content %}

<h1>nom · noms</h1>
<!--h2 class="description">tasty treats to satiate</h2>-->
<hr />

<div class="container">
    <ul class="homepage">
        <li class="item">
            <a href="">出汁とお汁</a><br />
            <p>本格的な出汁の作り方。</p></li>
        </li>

        <li class="item">
            <a href="">アールグレーのシフォンケーキ</a><br />
            <p>生クリームに合うフワフワなお腹に優しいケーキ。</p>
        </li>

        <li class="item">
            <a href="">レモン漬けとヨーグルト添えの蒸したゴールデンビートルート。</a><br />
            <p></p> 
        </li>

    </ul>
<hr />
</div>


{% endblock content %}