{% extends "base.html" %}
{% block content %}

<div class="body">
    <h1>2024 Roadmap </h1>
    <p>Implement a system.</p>
    <hr />
    <div class="roadmap-body">
        <span class="vline"></span>
        <div class="r-entries">
        <div class="r-entry">
        <div class="r-title">Feb</div>
        <div class="r-body">
            <p>full swing job hunting.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">Jan</div>
        <div class="r-body">
            <p>complete udemy course on full-stack development</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title big">2024</div>
        <div class="r-body">
            <p>holidays, personal projects & programming practise.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">Dec</div>
        <div class="r-body">
            <p>began new <span href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">full-stack development course</span>. It encourages many assignments throughout the programme which helps with practise and portoflio.</p>
            <ul>
                <li><p>HTML 5</p></li>
                <li><p>CSS 3</p></li>
                <li><p>Flexbox</p></li>
                <li><p>Grid</p></li>
                <li><p>Bootstrap 5</p></li>
                <li><p>Javascript ES6</p></li>
                <li><p>DOM Manipulation</p></li>
                <li><p>jQuery</p></li>
                <li><p>Bash Command Line</p></li>
                <li><p>Git, GitHub, and Version Control</p></li>
                <li><p>Backend Web Development</p></li>
                <li><p>Node.js</p></li>
                <li><p>NPM</p></li>
                <li><p>Express.js</p></li>
                <li><p>EJS</p></li>
                <li><p>REST</p></li>
                <li><p>APIs</p></li>
                <li><p>Databases</p></li>
                <li><p>SQL</p></li>
                <li><p>PostgreSQL</p></li>
                <li><p>Authentication</p></li>
                <li><p>Firebase</p></li>
                <li><p>React.js</p></li>
                <li><p>React Hooks</p></li>
                <li><p>Web Design</p></li>
                <li><p>Deployment with GitHub Pages</p></li>
                <li><p>Web3 Development on the Internet Computer</p></li>
                <li><p>Blockchain technology</p></li>
                <li><p>Token contract development</p></li>
                <li><p>buying and selling logic</p></li>
            </ul>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">2015</div>
        <div class="r-body">
            <p>Delectus facere officia consequuntur molestias deserunt illo. Placeat laudantium beatae natus excepturi ab nihil voluptates.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title big">2024</div>
        <div class="r-body">
            <p>Impedit dolorem commodi explicabo fugit aut alias voluptatem. Magnam earum rerum quae dicta quibusdam aliquam ut.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">2017</div>
        <div class="r-body">
            <p>Qui facere eos aut suscipit doloremque quos...</p>
        </div>
        </div>
        </div>
    </div>
    <div>Here is my <a href="./resume.html">cv</a></div>
</div>
{% endblock content %}
