{% extends "base.html" %}
{% block content %}

<div class="body font2">
    <div class="text">
    <h1>2024 Roadmap</h1>
    <h2>An overview: documentation of past work and the tentative plans toward an effective learning process for pursuing a career in software development.</h2>

    <p>I graduated in July, with a biomedical sciences degree with a specialisation in neuroscience honours. My final months were spent adjusting to life in the lab, sprint-teaching myself Python and data science skills to conduct my research and contribute to a widely used analysis pipeline.</p>
    <p>It was rewarding, being able to apply the knowledge I had collected throughout the COVID-19 era. Intensely hands-on, I celebrated interdisciplinary collaboration and the practise of science. I was made aware of both the hardships and joys of a career dedicated to science. Unexpectedly, I was rapidly drawn to the creative process of providing programming tools for facilitating research, such as data visualisation. After speaking to informaticians, creative coders, and software engineers, I decided to put my endeavours of doing a phD aside to pursue a career in tech.</p>
    <p>After an intense period of job hunting and familiarising myself with the industry, talking to friends, colleagues, and engineers in the software engineering field, I realised that my heart truly drew me to front-end engineering.</p>
    <p>As of December 4th, I managed to complete about 25% of the online bootcamp described below within 1.5 weeks. Considering this progression rate, as well as time taken to practise and create portfolio projects, I envision myself completing the course by the end of January. Here is what has best worked for me as a <a href="#">learning process</a></p>
    </div>
    <div class="roadmap-body font3">
        <span class="vline"></span>
        <div class="r-entries">
        <div class="r-entry">
        <div class="r-title">Feb</div>
        <div class="r-body">
            <p>full swing job hunting.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">Jan</div>
        <div class="r-body">
            <p>complete udemy course on full-stack development</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title big">2024</div>
        <div class="r-body">
            <p style="color: crimson">holidays, personal projects & programming practise.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">Dec</div>
        <div class="r-body">
            <p style="color: rgb(153, 153, 153)">began new <span href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">full-stack development course</span>. It encourages many assignments throughout the programme which helps with practise and portoflio.</p>
            <ul>
                <li><p>HTML 5</p></li>
                <li><p>CSS 3</p></li>
                <li><p>Flexbox</p></li>
                <li><p>Grid</p></li>
                <li><p>Bootstrap 5</p></li>
                <li><p>Javascript ES6</p></li>
                <li><p>DOM Manipulation</p></li>
                <li><p>jQuery</p></li>
                <li><p>Bash Command Line</p></li>
                <li><p>Git, GitHub, and Version Control</p></li>
                <li><p>Backend Web Development</p></li>
                <li><p>Node.js</p></li>
                <li><p>NPM</p></li>
                <li><p>Express.js</p></li>
                <li><p>EJS</p></li>
                <li><p>REST</p></li>
                <li><p>APIs</p></li>
                <li><p>Databases</p></li>
                <li><p>SQL</p></li>
                <li><p>PostgreSQL</p></li>
                <li><p>Authentication</p></li>
                <li><p>Firebase</p></li>
                <li><p>React.js</p></li>
                <li><p>React Hooks</p></li>
                <li><p>Web Design</p></li>
                <li><p>Deployment with GitHub Pages</p></li>
                <li><p>Web3 Development on the Internet Computer</p></li>
                <li><p>Blockchain technology</p></li>
                <li><p>Token contract development</p></li>
                <li><p>buying and selling logic</p></li>
            </ul>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">Nov</div>
        <div class="r-body">
            <p style="color: rgb(153, 153, 153">Completed 50% of a Udemy course. It was helpful in rehashing web development and JS skills but I quickly realised that it was outdated. I wanted more in-depth practise, back-end coverage, and more variety in projects so researched alternative programmes.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title big">Oct</div>
        <div class="r-body">
            <p style="color: rgb(153, 153, 153">Explored the specifics of what I want to do. Studied both Python and JavaScript. Tested Electron, Cargo, and webpack for app and web development. Designed in Figma. Read up and followed roadmaps and job prospects and their respective requirements to create a plan and list of resources for how I can obtain and develop the skills I need. Concluded that I was better off focusing on one language. Decided to stick to JavaScript for front-end development.</p>
        </div>
        </div>
        <div class="r-entry">
        <div class="r-title">Sept</div>
        <div class="r-body">
            <p style="color: rgb(153, 153, 153">Spent August and September house hunting and progressing through multiple interviews for data science positions. This process brought to light how I was more interested in software engineering and UX/UI.</p>
        </div>
        </div>
        </div>
    </div>
    <p>My <a href="./resume.html">cv</a>.</p>
</div>
{% endblock content %}
