{% extends "base.html" %}
{% block content %}


<table class="post-list">
    <thead>
        <tr style="color: rgb(74, 74, 74)">
            <th>date</th>
            <th>phished chips</th>
            <th>flavour</th>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr><article class="hentry">
                <td class="post-info"><time style="color: gray" class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></td><!-- /.post-info -->
                <td class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="take a peak?">{{ article.title }}</a></td>
                <td class="category"><a style="color: gray" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}<a/></td>
            </article>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}


