@viewport{
  width: device-width;
}

* {
  max-width: 900px;
  background: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

header {
  display: flex;
}

#navigation {
  display: inline-flex;
}

#menu a {
  padding: 0 0.5em 0 0.3em;
}

td.push {
  margin-left: auto;
}

body {
  margin: 0px auto;
  padding: 0px 24px;
  margin-top: 1.5em;
}

/*--background-color: linear-gradient(135deg, #ededed, #e59167);}--*/

img, h1 {
  font-size: 1.3em;
  vertical-align: baseline;
  display: inline-block;
  color: #e06011;
  margin: 0;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.0em;
}

p {
  
}

div.entry-content ol, ul {
  margin: revert;
  margin-left: 20px;
}

::selection {
  background: #e06011;
  color: #e0e0ff;
}

#welcome {
  position: relative;
  left: 550px;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  width: 100%;
  max-width: 150px;
  line-height: 27px;
  font-family: monospace;
  font-size: 1em;
  cursor: pointer;
  border-left: 1px solid #e06011;
}

}
nav.a {
  display: inline-block;
  padding: 0 0.4em;
  margin: 0;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  font-size: 1.3em;
}

nav::before { 
  content: "/";
}

table > tbody > tr > {
  vertical-align: top;
  border-collapse: collapse;
  display: inline-block;
  white-space: normal;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
  background-color: #dad4e5;
}

/*---links--*/
a:link {
  color: #5052c7;
  text-decoration: underline;
  cursor: auto;
}

a:visited {
  color: #6060b5;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #e06011;
}

a:hover {
    /*--font-weight:bold;--*/
  text-decoration: underline;
  color: #e06011;
}

/*--a:active { color: #5751ab; }--*/

hr {
  background-color: #e06011;
  height: 1px;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  bottom: 0;
  height: 2em;
  padding: 0px auto;
} 

ol table {
  table-layout: fixed;
}

ol td {
  padding: 0em 1.5em 0em 0em;
}


.gif-container:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.gif {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;


