@viewport{
  width: device-width;
  zoom: 1.0;
}

html * {
  max-width: 1000px;
  padding: 0;
  background: #ededed;
  font-family: monospace;
  font-size: 1em;
}

div.headers {
  display: flex;
}

td.push {
  margin-left: auto;
}

body {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom; 1em;
  margin-right; 1em;
  flex-grow: 1;
}

/*--background-color: linear-gradient(135deg, #ededed, #e59167);}--*/

img, h1, h2 {
  font-size: 1.3em;
  vertical-align: baseline;
  display: inline-block;
  color: #e06011;
  margin: 0;
}

ol, p {
  margin: 0;
}

::selection {
  background: #e06011;
  color: #e0e0ff;
}

.button {
  display: flex;
  left: 740px;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  width: 100%;
  max-width: 150px;
  line-height: 27px;
  font-family: monospace;
  font-size: 1em;
  color: #000;
  cursor: pointer;
  border-left: 1px solid #e06011;
}
.button span {
  position: relative;
  transition: all 200ms ease-in-out;
  /* horizontal */
  /* horizontal - small */
}
.button span.line-1 {
  top: 0;
  left: 0;
  width: 158px;
  height: 1px;
  background: #e06011;
  transform: translateX(-48px);
}
.button span.line-2 {
  bottom: 0;
  right: 0;
  width: 130px;
  height: 1px;
  background: #e06011;
  transform: translateX(-25px);
}
.button span.line-3 {
  top: 0;
  right: 0;
  width: 40px;
  height: 1px;
  background: #e06011;
  transform: translateX(20px);
}
.button span.line-4 {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 1px;
  background: #e06011;
  transform: translateX(95px);
}
.button span.line-5 {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #e06011;
  transform: translateY(0px);
}
.button span.line-6 {
  top: 0;
  right: 0;
  width: 1px;
  height: 8px;
  background:#e06011;
  transform: translateY(-48px);
}
.button:hover .line-1 {
  transform: translateX(0px);
}
.button:hover .line-2 {
  transform: translateX(-65px);
}
.button:hover .line-3 {
  transform: translateX(60px);
}
.button:hover .line-4 {
  transform: translateX(55px);
}
.button:hover .line-5 {
  transform: translateY(44px);
}
.button:hover .line-6 {
  transform: translateY(-2px);
}
/****/

nav.a {
  display: inline-block;
  padding: 0 0.4em;
  margin: 0;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  font-size: 1.3em;
}

nav::before { 
  content: "/";
}

/*--nav.breadcrumb [aria-current="page"] {color: #e6e6fa;}--*/

table > tbody > tr > {
  vertical-align: top;
  border-collapse: collapse;
  display: inline-block;
  white-space: normal;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
  background-color: #dad4e5;
}

/*---links--*/
a:link {
  color: #5052c7;
  text-decoration: underline;
  cursor: auto;
}

a:visited {
  color: #6060b5;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #e06011;
}

a:hover {
    /*--font-weight:bold;--*/
  text-decoration: underline;
  color: #e06011;
}

/*--a:active { color: #5751ab; }--*/

hr {
  border: 0;
  border-top: 1px solid #e06011;
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  font-size: 0.9em !important;
} 

ol table {
  table-layout: fixed;
}

ol td {
  padding: 0em 1.5em 0em 0em;
}

#content {
  padding-bottom: 10%;
}
